@font-face {
  url: "/fonts/PlayfairDisplay-Regular.ttf";
  name: "Playfair";
}

* {
  font-family: "Playfair";
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}
.text-bold {
  font-weight: bold;
}
.emphasize {
  font-size: 4rem;
}
.big-text {
  font-size: 3rem;
}
.big-p {
  font-size: 1.5rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
